#i0 {
  background-color: red;
}
#i1 {
  background-color: orange;
}
#i2 {
  background-color: pink;
}
#i3 {
  background-color: blueviolet;
}

.range {
  transform: translate(100px,60px);
  /* transform: translateX(50px); */
}